@media screen and (max-width: 600px) {
    .logo_unique {
      display: none;
    }
    .logo_mobil {
      display: block;
    }
  
    .login {
      display: none;
    }
  
    .menu a,
    .menu div {
      display: none;
    }
  
    main img {
      object-position: center;
    }   

    #mobile {
    display: block;
    }

    .foto_portada {
    object-position: center;
  }
}