* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    font-size: 30px;
    overflow: hidden;
    background-color: #5a4985;
    width: 1080px;
}
header, nav {
    height: 83px;
    width: 100%;
    padding: 0 60px;
    position: fixed;
    z-index: 50;
    top: 0;
}
nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 2px white;
    align-items: center;
    color: white;
    background-color: #0005;
    padding: 15px;
}
.navbar_container_links {
    background-color: grey;
    height: fit-content;
    display: flex;
    gap: 64px 20px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
.login {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
.logo_unique {
    padding: 20px 30px;
    display: flex;
    align-content:space-around;
}
.barp {
    width: 3px;
    background-color: #ffffff;
    height: 16px;
    display: block;
}
.barl {
    width: 3px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
}
.active {
    color: #7e7e7e;
}
.logo_menu {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.imagen_fondo_principal {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    justify-content:flex-start;
    align-items: center;
    background-color: grey;    
}
.foto_principal {
    z-index: -1;
    opacity: 0.3;
    background: linear-gradient(270deg, #000 0%, #7E7E7E 100%);
    position: absolute;
    height: 100%;
}
.imagen_fondo_principal .container_text{
z-index: 2;
width: 490px;    
}
main {
    background-color: goldenrod ;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
section .primera_seccion {
    grid-column: span3;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: blueviolet;
 }
.seccion_vertical_redes {
    background-color: rgb(56, 90, 74);
    position: absolute;
    z-index: 999;
    left: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items:center;
    padding-top: 90px;
} 
.seccion_vertical_redes .social {
    height: 30px;
    width: 15px;
    text-decoration: overline;
}  
.activef {
    width: 25px;
    height: 30px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: #7e7e7e;
    font-size: 12px;      
}
.barf {
    height: 1px;
    width: 30px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background-color: #000000;
}
.input_destino_lupa {
    width: fit-content;
    position: absolute;
}
.place_destino_box {
    background-color: brown;
    width: 400px;
    height: 30px;
    border: #fff solid 1px;
    border-radius: 100px;
    padding: 4px 4px;
    position: relative;
    margin: right;
 }
.input::placeholder {
    color: transparent;
}
.imagen_fondo_principal .container_text {
    background-color: beige;
    padding: 150px 25px;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    text-justify: auto;
}
.imagen_fondo .container_text h2 {
    font-size: 40px;
    font-weight: 45;
    line-height: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: #7a7d7d;
    text-align: left;
}
.imagen_fondo .container_text h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 250px;
    font-family:'Times New Roman', Times, serif;
    color: #FFFF;
}
segunda_section {
    width: 100%;
    background-color: blue;
    grid-column: span9;
}
aside {
    background-color: chocolate;
    grid-column: span3;
    color: azure;

}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float:inline-start;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}


piePagina{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
footerSeccion1{
    background: #26282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding: 2% 5%;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 999;
    grid-template-rows: auto 1fr;
}
#titulofooter1{
    font-size: 30px;
    line-height: 32px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #DF991B;
    padding-top: 15px;
}

#titulofooter2{
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    color: #FFFFFF;
    align-self: start;
}
#miniForm{
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}
#nombreForm{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#nombreForm label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#nombreForm input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#emailform{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#emailform label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#emailform input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#botonregistro{
    display: flex;
    justify-content: end;
}
#botonregistro input{
    background-color: unset;
    color: #DF991B;
    padding: 5px 30px;
    border-radius: 100px !important;
    letter-spacing: 3px;
    border: 1px solid #DF991B;
    font-size: 17px;
    font-family: 'brandon-grotesque';
    font-weight: 390;
    margin-top: 0.6vw;
    height: 55px !important;
}
#footerSeccion2{
    padding: 15% 0 0 0;
    grid-row: 2/5;
    grid-column: 1/3;
    background: #000000;
}
#infofooter{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.infofooter1 a img{
    margin-left: 15%
}
.infofooter1 span a{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15%
}
.infofooter2 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.infofooter3 span a{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 16%;
    justify-content:end;
}
.infofooter4 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

#copyright{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
    margin: 1% 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    background: #000000;
}