@import url('https://fonts.googleapis.com/css2? family= Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400 & family= Lector de noticias:ital ,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    width: 1080px;
    height: 1920px;

}
.navbar_header {
    height: 83px;
    width: 100%;
    padding: 0 5px 0 60px;
    border-bottom: solid 1px white;
    position: fixed;
    z-index: 50;
    top: 0;          
}
.navbar_header .navbar_nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
} 
.navbar_header .navbar_nav .navbar_container_links .logo_unique {
    width: 168px;
    height: 23px;
    display: flex;
    justify-items: right;
    padding-right: 30px;
} 
#mobile {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top -300px right 0; 
}    
.navbar_header .navbar_nav .navbar_container_links {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0px 40px;
    font-size: 20px;
}
.navbar_header .navbar_nav .navbar_container_links .login {
    color: #7E7E7E;
    display: flex;
}
.navbar_header .navbar_nav .navbar_container_links .login_bold {
    color: #fff;
    display: flex;
}
.navbar_header .navbar_nav .navbar_container_links .nav_barra_corta {
    width: 1.28px;
    height: 28px;
    color: rgba(255, 255, 255, 0.50);
}
.navbar_header .navbar_nav .navbar_container_links .nav_barra_larga {
    width: 1px;
    height: 28px;
    color: #FFFF;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size:xx-large;    
}
.navbar_header .navbar_nav .navbar_container_links .logo_menu {
    width: 45px;
    height: 30px;
}
#main {
    width: 100%;
    overflow: hidden;
}
.seccion_portada_principal {
    width: 1080px;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
     
}
.seccion_portada_principal .container_destino_box {
    width: 60px;
    height: 529px;
    margin-right: 122px;
    border: #fff solid 1px;
    border-radius: 100px;
    position: fixed;
 }
.seccion_portada_principal .container_destino_box .label_destino {
    width: 60px;
    height: 529px;
    display: flex;
    justify-items: center;
 }
.seccion_portada_principal .container_destino_box .input_destino {
    width: 60px;
    height: 529px;
    display: flex;
    justify-items: center;
 }
.seccion_portada_principal .container_destino_box .lupa_placeholder {
    position: absolute;
}
.seccion_portada_principal .seccion_vertical_redes {
    position: absolute;
    z-index: 999;
    left: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding-top: 220px;
} 
.seccion_portada_principal .seccion_vertical_redes .social {
    height: 30px;
    width: 15px;
    text-decoration: overline;
} 
.seccion_portada_principal .seccion_vertical_redes .follow_vertical {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: #7E7E7E;
    font-size: 20px;
    justify-content: center;
    font-family: Bricolage Grotesque;     
}
.seccion_portada_principal .seccion_vertical_redes .barra_follow {
    height: 75px;
    width: 2px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    background-color: #7E7E7E;
    position:relative;
}
.seccion_portada_principal .foto_portada {
    z-index: 0;
    position: absolute;
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: top -300px right 0;
      
}
.seccion_portada_principal .transparencia {
    z-index: 1;
    mix-blend-mode: hard-light;
    position: relative;
    width: 100%;
    height: auto;
}
.seccion_portada_principal .portada_container_text {
    /*height: fit-content;*/
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 122px;
    margin-top: 523px;
}
.seccion_portada_principal .portada_container_text .titulo {
    color: #B4B7B7;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.seccion_portada_principal .portada_container_text .empresa {
    color: #FFF;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px; 
    width: 746px;
    top: 683px;
    left: 106px;
    height: 99px;
}
.seccion_portada_principal .view_propiedades_box {
    /*width: 80px;
    height: 207px;*/
    top: 325px;
    left: 122px;
    border: #FFFFFF;
}
.seccion_portada_principal .view_propiedades_box .label_view_properties {
    size: 30px;
    line-height: 45px;
    font-family: url('https://fonts.googleapis.com/css2? family= Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400 & family= Lector de noticias:ital ,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300 & display=swap'); ;
}
.seccion_portada_principal .view_propiedades_box .input_view_properties {
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
.seccion_portada_principal .view_propiedades_box .flecha_view {
    width: 80px;
    height: 407px;
    top: 911px;
    left: 122px;
    border: #FFFFFF;
}

/*hasta aqui seccion portada principal*/


/*desde aqui seccion propiedades venta renta*/

.seccion_venta_renta {
    margin: 5% 0;
}
.seccion_venta_renta .grid_container_sale {
    grid: 100%;
    grid-template-columns: 1fr 1fr;  
}
.seccion_venta_renta .grid_container_sale .text_gallery_sale {
    display: flex;
    justify-items: end;
    right: 122px;
    width: 100%;
    height: 100px;
    padding: 20px 20px;
} 
.seccion_venta_renta .grid_container_sale .gallery_sale {
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1px;
    text-align: right;
}
.seccion_venta_renta .grid_container_sale .carrucel_sale {
    display: flex;
    margin-left: -15vw;
    display: flex;
    gap: 20px;
}
.seccion_venta_renta .grid_container_sale .carrucelsalea {
    background-image: url(./img/scottlorsch.jpg);
    display: flex;
    flex-direction: row;      
}
.seccion_venta_renta .grid_container_sale .carrucelsaleb {
    background-image: url(./img/derekthomson.jpg);
    display: flex;
    flex-direction: row;
    
}
.seccion_venta_renta .grid_container_sale .carrucelsalec {
    background-image: url(./img/danielbarnes.jpg);
    display: flex;
    flex-direction: row;
}


/*Hasta aqui galeria for sale*/
#aside {
    background-color: chocolate;
    grid-column: span3;
    color: azure;

}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float:inline-start;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

/* Aqui empieza el footer*/
#footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
#footer_seccion_1{
    background: #26282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding: 2% 5%;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 999;
    grid-template-rows: auto 1fr;
}
#titulofooter1{
    font-size: 40px;
    line-height: 32px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #DF991B;
    padding-top: 15px;
}

#titulofooter2{
    font-size: 60px;
    line-height: 40px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    color: #FFFFFF;
    align-self: start;
}
#miniForm{
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}
#nombreForm{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#nombreForm label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#nombreForm input{
    border-radius: 100px;
    border: 1px solid grey;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent;
    height: 60px;
    width: 600px;
}
#emailform{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#emailform label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#emailform input{
    border-radius: 100px;
    border: 1px solid #7E7E7E;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent;
    height: 60px;
    width: 600px;
}
#botonregistro{
    display: flex;
    justify-content: end;
}
#botonregistro input{
    background-color: unset;
    color: #DF991B;
    padding: 5px 30px;
    border-radius: 100px !important;
    letter-spacing: 3px;
    border: 1px solid #DF991B;
    font-size: 17px;
    font-family: 'brandon-grotesque';
    font-weight: 390;
    margin-top: 0.6vw;
    height: 55px !important;
}
#footerSeccion2{
    padding: 15% 0 0 0;
    grid-row: 2/5;
    grid-column: 1/3;
    background: #000000;
}
#infofooter{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.infofooter1 a img{
    margin-left: 15%
}
.infofooter1 span a{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15%
}
.infofooter2 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.infofooter3 span a{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 16%;
    justify-content:end;
}
.infofooter4 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

#copyright{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
    margin: 1% 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    background: #000000;
}
